<app-header></app-header>
<app-back-button></app-back-button>

<div class="example-container">
    
    <div class="form-container ">
        <div class="form-container-header app-login-text">
            <p class="form-container-header-text ">
                <span class="form-container-header-text-span">
                    Add role
                </span>
            </p>
        </div>
        <div class="form-container-body">
          
            <form  *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="f.form.valid && addRole()"
            #f="ngForm"
            novalidate>
              <mat-form-field  class="form-field" appearance="fill">
                  <mat-label>Choose account type</mat-label>
                  <mat-select [(value)]="form">
                    <mat-option>None</mat-option>
                    <mat-option value="Admin">admin</mat-option>
                    <mat-option value="User">user</mat-option>
                  </mat-select>
                </mat-form-field>
       
        <button type="submit" mat-flat-button color="warn" style="width : 29em;">
          Submit
        </button>
        
      </form>
    </div>
  </div>
</div>


  





