<app-header></app-header>
<app-back-button></app-back-button>

<div class="example-container">


    <div class="form-container ">
        <div class="form-container-header app-login-text">
            <p class="form-container-header-text ">
                
                <span class="form-container-header-text-span">
                    Transfering to {{bankaccount.accountNumber}}
                </span>
            </p>
        </div>
        <div class="form-container-body">
      <form  *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && deposit()"
      #f="ngForm"
      novalidate >
       
        <mat-form-field class="form-field"  appearance="fill" floatLabel="always">
          <mat-label>Reciepient Account Number</mat-label>
          <input  matInput placeholder={{bankaccount.accountNumber}} maxlength="8" minlength="5" required
                  disabled="true">
        </mat-form-field>
       

        <mat-form-field class="form-field"  appearance="fill" floatLabel="always">
          <mat-label>Deposit Amount</mat-label>
          <input name="amount" [(ngModel)]="form.amount"
          required   #amount="ngModel"  matInput type="number" matInput placeholder="Deposit Amount" class="example-right-align" placeholder="0" autocomplete="off">
          <span matPrefix>R&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Reference</mat-label>
          <input matInput  
         
          required matInput  disabled="true"  type="text" class="example-left-align" value=  {{currentBankAccount.accountNumber}} autocomplete="off">
        </mat-form-field>

        
        <button type="submit" mat-flat-button color="warn" style="width : 29em;">Pay</button>
      </form>
    </div>
  </div>

  
