<app-header></app-header>
<app-back-button></app-back-button>
<div class="example-container">
    <div class="form-container ">
        <div class="form-container-header app-login-text">
            <p class="form-container-header-text ">
                <span class="form-container-header-text-span">
                    Change Password
                </span>
            </p>
        </div>
        <div class="form-container-body">
          
      <form *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate >

          <mat-form-field class="form-field"  appearance="fill" floatLabel="always">
            <mat-label>Old password</mat-label>
            <input name="oldPassword" [(ngModel)]="form.oldPassword" 
            required
            #oldPassword="ngModel" matInput type="password"  placeholder="old password" autocomplete="off">
          </mat-form-field>


          <mat-form-field class="form-field" appearance="fill">
            <mat-label>New Password</mat-label>
            <input name="password"
            [(ngModel)]="form.password"
            required
            password
            #password="ngModel" type="password" matInput placeholder="new password">
          </mat-form-field>
        <button type="submit"  mat-flat-button color="warn" style="width : 29em;">Change password</button>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Change password failed!<br />{{ errorMessage }}
        </div>
      </form>
    </div>
  </div>


</div>
