<app-header></app-header>    
<app-back-button></app-back-button>
<div class="card-container">

    <mat-tab-group>
        <mat-tab label="Money In"> 
            <div class="card-container">
                <mat-list>
                    <mat-list-item>
                        <div mat-line>Mphathisi Dayimani</div>
                        <h4 mat-Line>R 43.34</h4>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div mat-line>Mphathisi Dayimani</div>
                    <h4 mat-Line>R 43.34</h4>
            </mat-list-item>
            <mat-divider></mat-divider>


            <mat-list-item>
                <div mat-line>Mphathisi Dayimani</div>
                <h4 mat-Line>R 43.34</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div mat-line>Mphathisi Dayimani</div>
            <h4 mat-Line>R 43.34</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <div mat-line>Mphathisi Dayimani</div>
        <h4 mat-Line>R 43.34</h4>
</mat-list-item>
<mat-divider></mat-divider>
                </mat-list>
                    </div>
                 </mat-tab>
                <mat-tab label="Money Out">
                    <div class="card-container">
                        <mat-list>
                            <mat-list-item>
                                <div mat-line>Mphathisi Dayimani</div>
                                <h4 mat-Line>R 43.34</h4>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div mat-line>Mphathisi Dayimani</div>
                            <h4 mat-Line>R 43.34</h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div mat-line>Mphathisi Dayimani</div>
                        <h4 mat-Line>R 43.34</h4>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div mat-line>Mphathisi Dayimani</div>
                    <h4 mat-Line>R 43.34</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
                        <mat-divider></mat-divider>
                        </mat-list>
                    </div>
                </mat-tab>
     </mat-tab-group>
<app-footer></app-footer>
       


</div>